# Autosave files
*~


/.vs
/KotoriServer/bin/Debug/netcoreapp2.0
/KotoriServer/obj
KotoriServer.userprefs

/KotoriServer/KotoriServer.csproj.user
/KotoriServer/bin/Release/netcoreapp2.0
/KotoriServer/Properties/PublishProfiles
